@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrolling animation */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

/* Ensure smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Fix for leaflet map in React */
.leaflet-container {
  height: 100%;
  width: 100%;
}